<section
  id="about"
  class="flex w-full flex-col md:flex-row bg-tertiary text-on-tertiary p-4 md:p-8 gap-6 rounded-lg"
>
  <div class="w-fit mx-auto">
    <img
      src="/my-picture.jpg"
      alt="Picture of a man in a suit."
      class="w-[300px] h-[350px] md:h-[450px] md:w-[500px] rounded-lg"
    />
  </div>
  <div class="w-full">
    <h1 class="text-3xl font-bold text-secondary">About</h1>
    <p class="text-lg">
      Hello! I'm <span class="font-semibold text-secondary">Diego Rezende</span
      >, a software developer from Brazil with a passion for coding and learning
      new things. I'm currently in college, but I'm always on the lookout for
      challenges and opportunities. I’m a big fan of open-source and have
      created a few projects myself—feel free to check them out on my GitHub!
      I’ve been using Linux since high school
      <span class="italic text-surface">(Arch btw)</span>.
    </p>

    <div class="mt-8 flex justify-center space-x-4">
      <a
        href="https://github.com/diegorezm"
        target="_blank"
        rel="noopener noreferrer"
        class="flex gap-2 items-center hover:text-secondary"
      >
        <img src="/github-dark.svg" alt="Github Logo" class="h-8 w-9" />
        <span class="hidden md:block"> github.com/diegorezm </span>
      </a>
      <a
        href="https://www.linkedin.com/in/diegorezm/"
        target="_blank"
        rel="noopener noreferrer"
        class="flex gap-2 items-center hover:text-secondary"
      >
        <img src="/linkedin.png" alt="Linkedin logo" class="h-8 w-9" />
        <span class="hidden md:block"> linkedin.com/in/diegorezm/ </span>
      </a>
    </div>
  </div>
</section>
