---
import { Button } from "../../components/ui/button";
import { Input, TextArea } from "../../components/ui/input";
---

<section
  class="p-4 md:p-8 bg-secondary text-on-secondary rounded-lg"
  id="contact"
>
  <h1 class="text-3xl font-bold">Contact</h1>
  <p class="text-md">Have a project in mind? Let's discuss how I can help.</p>
  <form class="mt-8 flex flex-col justify-center items-center w-full gap-6">
    <Input placeholder="Your name..." minlength={6} required />
    <Input placeholder="your@email.com" type="email" required />
    <TextArea
      placeholder="Your message"
      cols={5}
      rows={5}
      minlength={10}
      required
    />
    <Button size="lg" variant="primary"> Send </Button>
  </form>
</section>
