---
import { Button } from "../../components/ui/button";
import { Input, TextArea } from "../../components/ui/input";
---

<section
  class="p-4 md:p-8 bg-secondary text-on-secondary rounded-lg"
  id="contact"
>
  <h1 class="text-3xl font-bold">Contact</h1>
  <p class="text-md">Have a project in mind? Let's discuss how I can help.</p>
  <form
    netlify-honeypot="bot-field"
    method="POST"
    class="mt-8 flex flex-col justify-center items-center w-full gap-6"
    data-netlify="true"
  >
    <Input placeholder="Your name..." minlength={6} maxLength={250} required />
    <Input placeholder="your@email.com" type="email" maxLength={500} required />
    <TextArea
      placeholder="Your message"
      cols={5}
      rows={5}
      minlength={10}
      maxLength={1000}
      required
    />
    <p class="hidden">
      <label>
        Don’t fill this out if you’re human: <input name="bot-field" />
      </label>
    </p>
    <Button size="lg" variant="primary"> Send </Button>
  </form>
</section>
