@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-family: 'Fira Code', monospace;
  --background: #282828;
  --background-alt: #1D2021;
  --foreground: #F9F5D7;
  --foreground-alt: #EBDBB2;
  --primary-foreground: #076678;
  --secondary-foreground: #83A598;
  --accent-foreground: #8EC07C;
  --warning-foreground: #fb4934;

  --radius: 0.7rem;
}

html[data-theme="catppuccin-latte"] {
  --font-family: 'Arial', monospace;
  --background: #eff1f5;
  --background-alt: #dce0e8;
  --foreground: #4c4f69;
  --foreground-alt: #eff1f5;
  --primary-foreground: #8839ef;
  --secondary-foreground: #4c4f69;
  --accent-foreground: #8839ef;
  --warning-foreground: #e64553;
  --radius: 0.5rem;
}

html[data-theme="darker"] {
  --font-family: 'Arial', monospace;
  --background: #131313;
  --background-alt: #1D2021;
  --foreground: #d5dbe5;
  --foreground-alt: #1D2021;
  --primary-foreground: #4e5ab7;
  --secondary-foreground: #2a84d2;
  --accent-foreground: #5350b9;

  --warning-foreground: #f81118;
  --radius: 0.5rem;
}


.input {
  @apply w-full p-4 bg-background rounded-lg focus:outline-none focus:ring focus:ring-primary;
}

.btn {
  @apply inline-flex justify-center items-center gap-2 transition-colors
}

.resume-section-header {
  @apply text-2xl font-bold text-primary mt-2;
}



html,
body {
  font-family: var(--font-family);
  background-color: var(--background);
  color: var(--foreground);
  font-size: 16px;
  line-height: 1.5;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  scrollbar-color: var(--foreground) var(--background);
  line-height: 1.5;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
