---
import "../../styles/style.css";
import Navbar from "../ui/Navbar.astro";
import "@fontsource/fira-code";
type Props = {
  title?: string;
  showNavbar?: boolean;
};

const { title, showNavbar = true } = Astro.props;
---

<script>
  // const toggleTheme = () => {
  //   const currentTheme = document.documentElement.getAttribute("data-theme");
  //   const newTheme =
  //     currentTheme === "catppuccin-latte" ? "default" : "catppuccin-latte";
  //
  //   // Set the new theme on the <html> tag
  //   document.documentElement.setAttribute("data-theme", newTheme);
  //
  //   // Save the theme selection to localStorage to persist across reloads
  //   localStorage.setItem("theme", newTheme);
  // };
  //
  // Load the saved theme from localStorage on page load
  document.addEventListener("DOMContentLoaded", () => {
    const savedTheme = localStorage.getItem("theme");
    if (savedTheme) {
      document.documentElement.setAttribute("data-theme", savedTheme);
    } else {
      document.documentElement.setAttribute("data-theme", "catppuccin-latte");
    }
  });
</script>

<html lang="en" data-theme="catppuccin-latte">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#0a0e14" />
    <meta
      name="keywords"
      content="Portifolio, Diego Rezende, freelancer, desenvolvedor, desenvolvedor junior, java, typescript, javascript"
    />
    <meta name="description" content="My personal portifolio." />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | Portfolio` : "Portfolio"}</title>
  </head>
  <body>
    {showNavbar && <Navbar />}
    <main class={`px-8 lg:px-32 ${showNavbar ? "mt-10 lg:mt-32" : ""}`}>
      <slot />
    </main>
  </body>
</html>
