---
import { Image } from "astro:assets";
import Layout from "../components/layout.astro";
import CenouraComChocolate from "../images/bolos/cenoura_com_chocolate.jpg";
import GotasDeChocolate from "../images/bolos/gotas_de_chocolate.jpg";
import Laranja from "../images/bolos/laranja.jpg";
import Banana from "../images/bolos/banana.jpg";
import Fuba from "../images/bolos/fuba.jpg";
import FubaComGoiabada from "../images/bolos/fuba_com_goiabada.jpg";
import Maça from "../images/bolos/maça.jpg";

const bolos = [
  {
    title: "Fubá com Goiabada",
    price: 30.0,
    image: FubaComGoiabada,
  },
  {
    title: "Cenoura com Chocolate",
    price: 30.0,
    image: CenouraComChocolate,
  },
  {
    title: "Gotas de Chocolate",
    price: 30.0,
    image: GotasDeChocolate,
  },
  {
    title: "Maçã",
    price: 25.0,
    image: Maça,
  },
  {
    title: "Laranja",
    price: 25.0,
    image: Laranja,
  },
  {
    title: "Fubá",
    price: 25.0,
    image: Fuba,
  },
  {
    title: "Banana",
    price: 25.0,
    image: Banana,
  },
];
---

<Layout title="Diegorezm | Bolos">
  <section id="bolos" class="section flex flex-col gap-sm p-md">
    <h1>Bolos</h1>
    <ul>
      {
        bolos.map((b) => (
          <li>
            <Image src={b.image} alt={b.title} width="450" height="420" />
            <h3>{b.title}</h3>
            <p>R${b.price.toFixed(2)}</p>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

<style>
  :root {
    --project-card-width: 20rem;
    --project-card-height: 21.5rem;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    place-items: center;
    gap: var(--spacing-md);
  }

  li {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: space-between;
    border: var(--border);
    padding: var(--spacing-md);
    height: var(--project-card-height);
    border-radius: 0rem;
    transition: all 0.2s ease-in-out;
    scroll-snap-align: start;
    text-align: center;
    box-shadow: 4px 4px 0px 0px var(--primary);
  }
  li > img {
    border-radius: var(--radius);
  }
</style>
