---
import Layout from "../components/layouts/app.astro";
import Hero from "../components/sections/hero/index.astro";
import About from "../components/sections/about/index.astro";
import Project from "../components/sections/projects/index.astro";
import Contact from "../components/sections/contact/index.astro";
---

<Layout>
  <div class="space-y-16 md:space-y-28 mb-6">
    <Hero />
    <About />
    <Project />
    <Contact />
  </div>
</Layout>
