---
import Layout from "../layouts/Layout.astro";
import { Navbar } from "../components/Navbar.tsx";
import Hero from "./_components/Hero.astro";
import About from "./_components/About.astro";
import Projects from "./_components/Projects.astro";
import Contact from "./_components/Contact.astro";
---

<Layout>
  <main class="max-w-[1450px] mx-auto space-y-12">
    <Navbar client:load />
    <Hero />
    <About />
    <Projects />
    <Contact />
  </main>
</Layout>
