---
const year = new Date().getFullYear();
---

<footer
  class="w-full border-t-1 border-t-primary flex gap-2 px-4 py-2 mt-8 items-center"
>
  <img src="/favicon.ico" alt="Favicon" class="h-8 w-8" />
  <span class="font-bold">{year}</span>
  <span class="font-bold">Diego Rezende</span>
</footer>
