---
interface Props {
  title?: string;
}
const { title = "Diegorezm" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  html {
    box-sizing: border-box;
    font-size: 16px;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  ol,
  ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  :root {
    --background: #f0ede5;
    --foreground: #312f2c;

    --primary: #312f2c;
    --on-primary: #f0ede5;

    --secondary: #56524e;
    --on-secondary: #f3f2f2;

    --border: 2px solid var(--primary);
    --border-radius: 0.25rem;

    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --spacing-xl: 4rem;
  }

  body {
    font-family: "Noto Sans", sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    font-size: 16px;
    font-optical-sizing: auto;
    line-height: 1.5;
    font-weight: 500;
    font-style: normal;
    scrollbar-color: var(--foreground) var(--background);
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
    padding-bottom: var(--spacing-md);
    scrollbar-width: thin;
    scroll-behavior: smooth;
    max-width: 1480px;
    margin: 0 auto;
  }

  main {
    border: var(--border);
    margin-top: var(--spacing-md);
  }

  /* Sizes */
  .size-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }

  .size-md {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
  }

  .size-lg {
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
  }

  /* Section */
  .section {
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* Flex utilities */
  .flex {
    display: flex;
  }

  .flex-row {
    flex-direction: row;
  }

  .flex-col {
    flex-direction: column;
  }

  .justify-start {
    justify-content: flex-start;
  }

  .justify-end {
    justify-content: flex-end;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-between {
    justify-content: space-between;
  }

  .items-start {
    align-items: flex-start;
  }

  .items-end {
    align-items: flex-end;
  }

  .items-center {
    align-items: center;
  }

  /* (Note: justify-items only works in CSS Grid, not Flexbox) */
  .justify-items-center {
    justify-items: center;
  }

  /* Text colors */
  .text-primary {
    color: var(--primary);
  }

  .text-on-primary {
    color: var(--on-primary);
  }

  /* Spacing utilities */
  .gap-sm {
    gap: var(--spacing-sm);
  }

  .gap-md {
    gap: var(--spacing-md);
  }

  .gap-lg {
    gap: var(--spacing-lg);
  }

  /* Padding utilities */
  .p-sm {
    padding: var(--spacing-sm);
  }

  .p-md {
    padding: var(--spacing-md);
  }

  .p-lg {
    padding: var(--spacing-lg);
  }

  /* Borders */
  .border-right {
    border-right: var(--border);
  }

  .border-bottom {
    border-bottom: var(--border);
  }

  .border-top {
    border-top: var(--border);
  }

  .border-left {
    border-left: var(--border);
  }

  .rounded {
    border-radius: var(--border-radius);
  }

  /* Variants */
  .variant-primary {
    background-color: var(--primary);
    color: var(--on-primary);
  }

  button.variant-primary:hover {
    transform: translateY(-2px) translateX(-2px);
    box-shadow: 4px 4px 0px 0px var(--primary);
  }

  .variant-outline {
    background-color: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
  }

  button.variant-outline:hover {
    transform: translateY(-2px) translateX(-2px);
    box-shadow: 4px 4px 0px 0px var(--primary);
  }

  .variant-ghost {
    background: transparent;
  }

  .variant-ghost:hover {
    background-color: var(--primary);
    color: var(--on-primary);
    opacity: 0.8;
  }

  input,
  textarea {
    width: 95%;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: var(--spacing-sm);
    font-size: 1rem;
    font-weight: 500;
    color: var(--foreground);
    background-color: var(--background);
  }

  input:focus,
  textarea:focus {
    outline: 1px solid var(--primary);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    line-height: 1.2;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.8rem;
  }

  button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: var(--border-radius);
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--primary);
    color: var(--on-primary);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  button[disabled] {
    cursor: not-allowed;
  }

  .hidden {
    display: none;
  }

  a {
    color: var(--foreground);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
</style>
