---
import Button from "./ui/Button.astro";
type Props = {
  isNavbar?: boolean;
};
const { isNavbar = false } = Astro.props as Props;
---

<div
  class="relative text-sm w-full"
  x-data="{ 
    isDarkMode: localStorage.getItem('theme') === 'catppuccin-mocha',
    toggleTheme() {
      this.isDarkMode = !this.isDarkMode;
      const theme = this.isDarkMode ? 'catppuccin-mocha' : 'catppuccin-latte';
      localStorage.setItem('theme', theme);
      document.documentElement.setAttribute('data-theme', theme);
    }
  }"
>
  <div x-show="isDarkMode">
    <Button
      variant="outline"
      size={isNavbar ? "md" : "sm"}
      icon="lucide:moon"
      onClick="toggleTheme()"
      className="w-full"
    />
  </div>
  <div x-show="!isDarkMode">
    <Button
      variant="outline"
      size={isNavbar ? "md" : "sm"}
      icon="lucide:sun"
      onClick="toggleTheme()"
      className="w-full"
    />
  </div>
</div>
