---
import { SEO } from "astro-seo";
import Footer from "../components/Footer.astro";

import "@fontsource/titillium-web";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title="Diegorezm | Portfolio"
      description="The personal portfolio of Diego Rezende, a fullstack developer specializing in Java, TypeScript, and open-source contributions. Explore projects, contact details, and more."
      openGraph={{
        basic: {
          title: "Diegorezm | Portfolio",
          type: "website",
          image: "https://diegorezm.netlify.app/og.png",
        },
      }}
      twitter={{
        creator: "@diegorezm",
      }}
      extend={{
        link: [{ rel: "icon", type: "image/x-icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "twitter:image",
            content: "https://diegorezm.netlify.app/og.png",
          },
          { name: "twitter:title", content: "Diegorezm | portfolio" },
          {
            name: "twitter:description",
            content:
              "The personal portfolio of Diego Rezende, a fullstack developer specializing in Java, TypeScript, and open-source contributions. Explore projects, contact details, and more.",
          },
        ],
      }}
    />
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
