@import 'tailwindcss';

@source '../index.html';

@theme {
  --color-th-background: var(--background);
  --color-th-foreground: var(--foreground);
  --color-th-primary: var(--primary);
  --color-th-secondary: var(--secondary);
  --color-th-muted: var(--muted);
  --color-th-red: var(--red);

  --padding-sm: var(--padding);
  --padding-mobile: var(--padding-sm);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: #f9f4e4;
    --foreground: #000000;
    --red: #fff;
    --primary: #605f4b;
    --secondary: #9c9e80;
    --muted: #e0dbcd;
    --padding: 24px;
    --padding-sm: 16px;
  }

  [data-theme='autumn'] {
    --background: #f4ddb8;
    --foreground: #000000;
    --primary: #90533b;
    --secondary: #b87b6c;
    --muted: #e0dbcd;
    --padding: 24px;
    --padding-sm: 16px;
  }

  [data-theme='summer'] {
    --background: #fcded6;
    --foreground: #000000;
    --primary: #f26749;
    --secondary: #ea9836;
    --muted: #e0dbcd;
    --padding: 24px;
    --padding-sm: 16px;
  }

  [data-theme='winter'] {
    --background: #cbdced;
    --foreground: #323d42;
    --primary: #3f778c;
    --secondary: #8fa9b5;
    --muted: #6587a1;
    --padding: 24px;
    --padding-sm: 16px;
  }
}

.icon {
  @apply w-12 h-12 fill-th-secondary;
}

.theme-icon {
  @apply w-6 h-6 fill-th-muted hover:fill-th-primary;
}

.styled-shadow-primary {
  @apply border-2 border-th-primary;
  box-shadow: 4px 4px var(--primary);
}

.styled-shadow-secondary {
  @apply border-2 border-th-primary;
  box-shadow: 4px 4px var(--secondary);
}

.link {
  @apply transition-colors duration-300 hover:underline hover:text-th-secondary;
}

.input {
  @apply w-full px-[var(--padding-sm)] py-2 bg-transparent border-2 border-th-foreground rounded-sm focus:ring-2 focus:outline-hidden placeholder:text-th-muted focus:ring-th-primary focus:ring-offset-1 focus:ring-offset-th-primary;
}

.btn {
  @apply font-semibold rounded-sm transition-colors duration-200 focus:outline-hidden focus:ring-0;
}

.btn-primary {
  @apply bg-[color:var(--primary)] text-white border-[color:var(--primary)] hover:opacity-75 focus:ring-[color:var(--primary)];
}

.btn-secondary {
  @apply bg-[color:var(--secondary)] text-[color:var(--foreground)] border-[color:var(--secondary)] hover:opacity-75 focus:ring-[color:var(--secondary)];
}

/* https://uiverse.io/Melo034/stupid-bear-67 */
.btn-outline {
  @apply relative z-10 inline-flex items-center justify-center overflow-hidden text-sm font-semibold text-black bg-transparent border-2 rounded-sm border-th-foreground isolation-auto before:absolute before:w-full before:transition-all before:duration-700 hover:before:w-full before:-right-full hover:before:right-0 before:rounded-full before:bg-th-primary before:-z-10 before:aspect-square hover:before:scale-150 hover:before:duration-700 shadow-xs gap-x-2 hover:text-th-background hover:bg-th-secondary disabled:opacity-50 hover:border-th-primary disabled:pointer-events-none;
}

.btn-ghost {
  @apply bg-transparent text-[color:var(--foreground)] hover:opacity-85 focus:ring-0;
}

/* Sizes */
.btn-sm {
  @apply px-[var(--padding-sm)] py-2 text-sm;
}

.btn-md {
  @apply px-[var(--padding)] py-3 text-base;
}

.btn-lg {
  @apply px-8 py-4 text-lg;
}

.project-card {
  @apply shadow-md rounded-sm px-4 py-2 hover:shadow-lg space-y-4 hover:hover:transform hover:translate-y-[-8px] transition-all duration-500;
  border: 2px solid var(--primary);
  box-shadow: 4px 4px var(--primary);
}

.project-card-title {
  @apply text-lg font-medium text-th-primary;
}

.project-card-image {
  @apply w-full max-h-64 rounded-md;
}

.project-card-desc {
  @apply text-th-secondary;
}


.section {
  @apply p-mobile lg:p-sm;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('/font/JetBrainsMono-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('/font/JetBrainsMono-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url('/font/JetBrainsMono-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

html,
body {
  font-family: 'JetBrainsMono', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  font-size: 16px;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 500;
  font-style: normal;
  scrollbar-color: var(--foreground) var(--background);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
